1. Create a user-friendly interface with a clean and proper design
<html lang="en" ng-app="MyApp">
<head>
  <title>Display Student Info</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="MyController">
  <div>
    <h2>Name: {{ stname }}</h2>
    <h2>Roll No: {{ stroll }}</h2>
    <h2>Class: {{ stclass }}</h2>
    <h2>College Name: {{ stcollege }}</h2>
  </div>

  <script>
    var app = angular.module("MyApp", []);
    app.controller("MyController", function($scope) {
      $scope.stname = "Shabbir Jalgunwala";
      $scope.stroll = "4796822";
      $scope.stclass = "TYBCA";
      $scope.stcollege = "IMRD College, Shahada";
    });
  </script>
</body>
</html>

2.Develop AngularJS program to create a login form, with validation for the username and password fields
<html lang="en" ng-app>
<head>
  <title>Validation</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
  <form name="validation">
    <b>Username</b><br />
    <input type="text" name="uname" ng-model="uname" minlength="5" required /><br />
    <span ng-show="validation.uname.$touched && validation.uname.$error.required">Username is required</span>
    <span ng-show="validation.uname.$error.minlength">Must be at least 5 characters or more</span>
    
    <br /><br /><b>Password</b><br />
    <input type="password" name="pass" ng-model="pass" minlength="8" required /><br />
    <span ng-show="validation.pass.$touched && validation.pass.$error.required">Password is required</span>
    <span ng-show="validation.pass.$error.minlength">Must be at least 8 characters or more</span>
    
    <br /><br /><button type="submit" ng-disabled="validation.$invalid">Submit</button>
  </form>
</body>
</html>

3.To demonstrate AngularJS Http service
<html lang="en" ng-app="AngApp">
<head>
  <title>Http Demo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="AngController">
  <button ng-click="loaddata()">Load Data</button>
  <h2>User Details</h2>
  <p>Id: {{user.id}}</p>
  <p>Name: {{user.name}}</p>
  <p>Email: {{user.email}}</p>
  <script>
    var app = angular.module('AngApp', []);
    app.controller('AngController', function($scope, $http) {
    $scope.user = null;
    $scope.loaddata = function(){
      $http.get("https://jsonplaceholder.typicode.com/users?id=1")
      .then(function(response){
        $scope.user = response.data[0];
      })
      .catch(function(error) {
        alert(error);
      });
      }
    });
  </script>
</body>
</html>

4.To demonstrate AngularJS User Defined service
<html lang="en" ng-app="MyApp">
<head>
  <title>Service Demo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="MyController">
  <ul>
    <li ng-repeat="sub in list">
      <h2>{{sub}}</h2>
    </li>
  </ul>
  <script>
    var app = angular.module("MyApp",[]);
    app.service("subjects", function () {
      var arr = ["AngularJS", "Python", "Java", "DBMS"];
      this.subsreturn = function() {
        return arr;
      };
    });
    app.controller('MyController', function ($scope, subjects) {
      $scope.list = subjects.subsreturn();
    });
  </script>
</body>
</html>

5.To demonstrate AngularJS factory service
<html ng-app="AngApp">
<head>
  <title>factory Demo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="AngController">
  <p>Name: {{ name }}</p>
  <script>
    var app = angular.module("AngApp", []);
    app.factory("myfactory", function () {
      var mydata = "Nayan";
      return function () {
        return mydata;
      };
    });
    app.controller("AngController", function ($scope, myfactory) {
      $scope.name = myfactory();
    });
  </script>
</body>
</html>

6.To demonstrate AngularJS Data Binding
<html lang="en" ng-app="MyApp">
<head>
  <title>Display Student Info</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="MyController">
  <div>
    <b>Enter Username: </b><br>
    <input type="text" ng-model="username" />
    <button ng-click="show()">Submit</button>
    <h2>{{ data }}</h2>
  </div>
  <script>
    var app = angular.module("MyApp", [])
    app.controller('MyController', function ($scope) {
      $scope.show = function () {
        $scope.data = "Welcome, " + $scope.username;
      }
    });
  </script>
</body>
</html>

7.To display tasks in a list with checkboxes for marking completion as per user choice
<html lang="en" ng-app="MyApp">
<head>
  <title>To-Do Tasks</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="MyController">
  <form name="taskform">
    <input type="text" placeholder="Enter Your Task" ng-model="taskinput" name="taskinput" required/>
    <input type="button" value="Submit" ng-click="AddTask()" ng-disabled="taskform.$invalid"/>
  </form>

  <div>
    <h2 ng-if="tasks.length == 0">No tasks added yet!</h2>
    <ul>
      <li ng-repeat="t in tasks track by $index">
        <input type="checkbox" ng-model="checked[$index]" /> {{ t }}
      </li>
    </ul>
    <h2 ng-if="allcomplete()">All tasks are done!</h2>
  </div>

  <script>
    var app = angular.module('MyApp', []);
    app.controller('MyController', function($scope) {
      $scope.tasks = [];
      $scope.checked = [];

      $scope.AddTask = function() {
        $scope.tasks.push($scope.taskinput);
        $scope.checked.push(false);
        $scope.taskinput = null;
      };

      $scope.allcomplete = function() {
        if ($scope.tasks.length == 0) return false;
        for (var i = 0; i < $scope.checked.length; i++) {
          if (!$scope.checked[i]) {
            return false;
          }
        }
        return true;
      };
    });
  </script>
</body>
</html>

8.To demonstrate AngularJS Events
<html ng-app="AngApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="AngController">
  <input type="text" placeholder="Enter your Name" ng-mouseover="mouseover()" ng-mouseleave="mouseleave()"
    ng-keydown="keydown()" ng-keyup="keyup()">
  <input type="button" value="Submit" ng-click="click()" ng-dblclick="dblclick()" />
  <p>{{message}}</p>
  <script>
    var app = angular.module('AngApp', []);
    app.controller("AngController", function($scope) {
      $scope.message = null;
      $scope.click = function () {
        $scope.message = "Button Clicked";
      }
      $scope.dblclick = function () {
        $scope.message = "Button Double Clicked";
      }
      $scope.mouseover = function () {
        $scope.message = "Mouse Over Text Input";
      }
      $scope.mouseleave = function() {
        $scope.message = "Mouse Leaved Text Input";
      }
      $scope.keyup = function () {
        $scope.message = "Typing Stopped";
      }
      $scope.keydown = function() {
        $scope.message = "Typing....";
      }
    });
  </script>
</body>
</html>

9.Demonstrate ng-if
<html ng-app>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
  <input type="checkbox" ng-model="show" />
  <p ng-if="show">Checkbox is Checked</p>
</body>
</html>

10.Demonstrate ng-repeat
<html ng-app>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
  <ul ng-repeat="s in ['DBMS', 'JAVA', 'HTML']">
    <li>{{ s }}</li>
  </ul>
</body>
</html>

11.Demonstrate ng-switch
<html ng-app>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
  <select ng-model="country">
    <option disabled>Select Country</option>
    <option value="india">India</option>
    <option value="uk">United Kingdom</option>
  </select>
  <div ng-switch="country">
    <p ng-switch-when="india">Selected Country is India</p>
    <p ng-switch-when="uk">Selected Country is United Kingdom</p>
    <p ng-switch-default>Select Country</Select></p>
  </div>
</body>
</html>

12.Demonstrate Routing (SPA)
<html lang="en">
<head>
  <title>AngularJS Routing Example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
</head>
<body ng-app="myApp">
  <h1>AngularJS Routing Example</h1>
  <a href="#!home">Home</a>
  <a href="#!about">About</a>
  <div ng-view></div>
  <script>
    var app = angular.module("myApp", ["ngRoute"]);
    app.config(function ($routeProvider) {
      $routeProvider
        .when("/home", {
          templateUrl: "home.html"
        })
        .when("/about", {
          templateUrl: "about.html"
        });
    });
  </script>
</body>
</html>

13.MongoDB Queries and Operations
I. Create Database
use database_name

II. Create Collection
db.createCollection("StudentsInfo")

III. Insert Operation
db.StudentsInfo.insertOne({"student_name": "Bachchan Pandey","roll_number": 1,"email": "bpandey@gmail.com","course_enrolled": "MCA","year_of_admission": 2024,"is_active": true})
db.StudentsInfo.insertMany([{"student_name": "viru sahastrabudhhe","roll_number": 2,"email": "virubudhhe@gmail.com","course_enrolled": "MCA","year_of_admission": 2023,"is_active": false},{"student_name": "Raju Rastogi","roll_number": 3,"email": "rajurastogi@gmail.com","course_enrolled": "BCA","year_of_admission": 2024,"is_active": true},{"student_name": "Farhan Qureshi","roll_number": 4,"email": "farhanphotographer@gmail.com","course_enrolled": "BCA","year_of_admission": 2020,"is_active": false},{"student_name": "Chatur Ramalingam","roll_number": 5,"email": "chatur123@gmail.com","course_enrolled": "MCA","year_of_admission": 2025,"is_active": true}])

IV. Update Operation
db.StudentsInfo.updateOne({"roll_number": 2},{$set: {"year_of_admission": 2024, "is_active": true}})
db.StudentsInfo.updateMany({}, {$set: {"city": "Shahada"}})

V. Select Operation
db.StudentsInfo.find()
db.StudentsInfo.find({"student_name": "Bachchan Pandey"})

VI. Delete Operation
db.StudentsInfo.deleteOne({"roll_number": 3})
db.StudentsInfo.deleteMany({})

VII. Query Operator Examples
db.StudentsInfo.find({"course_enrolled": {$eq: "MCA"}})

db.StudentsInfo.find({"course_enrolled": {$ne: "MCA"}})

db.StudentsInfo.find({"year_of_admission": {$gt: 2023}})

db.StudentsInfo.find({"year_of_admission": {$lt: 2024}})

db.StudentsInfo.find({"year_of_admission": {$gte: 2024}})

db.StudentsInfo.find({"year_of_admission": {$lte: 2023}})

db.StudentsInfo.find({$and: [{"is_active": true},{"year_of_admission": 2024}]})

db.StudentsInfo.find({$or: [{"is_active": true},{"year_of_admission": 2023}]})

db.StudentsInfo.find({"is_active": {$not: {$eq: true}}})

db.StudentsInfo.find({"city": {$exists: true}})

db.StudentsInfo.find({"student_name": {$regex: /^C/}})

